In [311]:
import pandas as pd
from geopy.distance import vincenty
import numpy as np

In [312]:
df = pd.read_csv('train.csv')

In [313]:
df.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [314]:
df['distance_1'] = range(len(df.Latitude))

In [315]:
df['distance_1'] = df.distance_1.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.995, -87.933)).miles)

In [316]:
df['distance_2'] = range(len(df.Latitude))
df['distance_2'] = df.distance_2.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.786, -87.752)).miles)

In [317]:
df['airport'] = (df['distance_1'] > df['distance_2'])*1+1

In [318]:
df.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,distance_1,distance_2,airport
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1

In [319]:
df2 = pd.read_csv('spray.csv')

In [320]:
df2.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [321]:
df3 = pd.read_csv('weather.csv')

In [322]:
df3.shape

(2944, 22)

In [323]:
df3.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [324]:
df_merged = pd.merge(df, df3, left_on = ['Date','airport'], right_on = ['Date','Station'], how= 'left')

In [325]:
df_merged.shape

(10506, 36)

In [326]:
df_merged.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,distance_1,distance_2,airport,Station,Tmax,...,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1,1,88,...,10,58,65,0,9,0421,1917,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1,1,88,...,10,58,65,0,9,0421,1917,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5

In [327]:
pd.set_option('max_columns',len(df_merged.columns))

In [328]:
df_merged.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,distance_1,distance_2,airport,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1,1,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5

In [329]:
df_merged.AddressAccuracy.value_counts()

8    4628
9    3980
5    1807
3      91
Name: AddressAccuracy, dtype: int64

In [330]:
df_merged.drop(['Trap','Depart','SnowFall','Depth', 'Address','Block','Street','AddressNumberAndStreet','AddressAccuracy','distance_1','distance_2','airport','Station'], axis = 1, inplace = True)

In [331]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10506 entries, 0 to 10505
Data columns (total 23 columns):
Date            10506 non-null object
Species         10506 non-null object
Latitude        10506 non-null float64
Longitude       10506 non-null float64
NumMosquitos    10506 non-null int64
WnvPresent      10506 non-null int64
Tmax            10506 non-null int64
Tmin            10506 non-null int64
Tavg            10506 non-null object
DewPoint        10506 non-null int64
WetBulb         10506 non-null object
Heat            10506 non-null object
Cool            10506 non-null object
Sunrise         10506 non-null object
Sunset          10506 non-null object
CodeSum         10506 non-null object
Water1          10506 non-null object
PrecipTotal     10506 non-null object
StnPressure     10506 non-null object
SeaLevel        10506 non-null object
ResultSpeed     10506 non-null float64
ResultDir       10506 non-null int64
AvgSpeed        10506 non-null object
dtypes: float64(3), int64(6), object(14)
memory usage: 1.9+ MB

In [332]:
df_merged.head()

,Date,Species,Latitude,Longitude,NumMosquitos,WnvPresent,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,CULEX PIPIENS/RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
1,2007-05-29,CULEX RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
2,2007-05-29,CULEX RESTUANS,41.994991,-87.769279,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
3,2007-05-29,CULEX PIPIENS/RESTUANS,41.974089,-87.824812,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
4,2007-05-29,CULEX RESTUANS,41.974089,-87.824812,4,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5

In [333]:
sunrise = df_merged.Sunrise.tolist()

In [334]:
for n,i in enumerate(sunrise):
    if i == '-':
        sunrise[n] = sunrise[n-1]

In [335]:
sunset = df_merged.Sunset.tolist()

In [336]:
for n,i in enumerate(sunset):
    if i == '-':
        sunset[n] = sunset[n-1]

In [337]:
df_merged.Sunset = sunset

In [338]:
df_merged.Sunrise = sunrise

In [339]:
cols = ["Tavg","WetBulb","Heat","Cool","Sunrise","Sunset","PrecipTotal","StnPressure","SeaLevel","ResultSpeed","ResultDir","AvgSpeed"]

In [340]:
for i in cols:
    df_merged[i] = pd.to_numeric(df_merged[i], errors='coerce')

In [341]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10506 entries, 0 to 10505
Data columns (total 23 columns):
Date            10506 non-null object
Species         10506 non-null object
Latitude        10506 non-null float64
Longitude       10506 non-null float64
NumMosquitos    10506 non-null int64
WnvPresent      10506 non-null int64
Tmax            10506 non-null int64
Tmin            10506 non-null int64
Tavg            10506 non-null int64
DewPoint        10506 non-null int64
WetBulb         10470 non-null float64
Heat            10506 non-null int64
Cool            10506 non-null int64
Sunrise         10506 non-null int64
Sunset          10506 non-null int64
CodeSum         10506 non-null object
Water1          10506 non-null object
PrecipTotal     9620 non-null float64
StnPressure     10470 non-null float64
SeaLevel        10506 non-null float64
ResultSpeed     10506 non-null float64
ResultDir       10506 non-null int64
AvgSpeed        10506 non-null float64
dtypes: float64(8), int64(11), object(4)
memory usage: 1.9+ MB

In [342]:
df_merged.StnPressure.mean()

29.29205635148058

In [343]:
df_merged.StnPressure.std()

0.1174272991057942

In [344]:
df_merged.StnPressure.fillna(df_merged.StnPressure.mean(), inplace = True)

In [345]:
df_merged.Date = pd.to_datetime(df_merged.Date)

In [346]:
df_merged.head(3)

,Date,Species,Latitude,Longitude,NumMosquitos,WnvPresent,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,CULEX PIPIENS/RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5
1,2007-05-29,CULEX RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5
2,2007-05-29,CULEX RESTUANS,41.994991,-87.769279,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5

In [347]:
df_merged.to_csv('mosquitos.csv')

In [348]:
df_concat = pd.concat([df_merged,pd.get_dummies(df_merged.Species, drop_first=True)], axis=1)

In [349]:
df_concat.drop(["Species","CodeSum","Water1"],axis=1,inplace=True)

In [350]:
df_concat['year'] = df_concat["Date"].apply(lambda x: x.year)
df_concat['month'] = df_concat["Date"].apply(lambda x: x.month)
df_concat['day'] = df_concat["Date"].apply(lambda x: x.day)
df_concat.drop(["Date"],axis=1,inplace=True)

In [351]:
from sklearn.linear_model import LogisticRegression

In [352]:
df_concat.to_csv('not_train.csv')

In [353]:
df_concat = pd.read_csv('not_train.csv')

In [354]:
y = df_concat.WnvPresent

In [355]:
df_concat.columns[0:3].tolist().extend(df_concat.columns[4:])

In [356]:
listy = df_concat.columns[0:3].tolist()
listy.extend(df_concat.columns[4:])

In [357]:
X = df_concat[listy]

In [358]:
X.head()

,Unnamed: 0,Latitude,Longitude,WnvPresent,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,year,month,day
0,0,41.954690,-87.800991,0,88,60,74,58,65.0,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5,0,1,0,0,0,0,2007,5,29
1,1,41.954690,-87.800991,0,88,60,74,58,65.0,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5,0,0,1,0,0,0,2007,5,29
2,2,41.994991,-87.769279,0,88,60,74,58,65.0,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5,0,0,1,0,0,0,2007,5,29
3,3,41.974089,-87.824812,0,88,60,74,58,65.0,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5,0,1,0,0,0,0,2007,5,29
4,4,41.974089,-87.824812,0,88,60,74,58,65.0,0,9,421,1917,0.0,29.39,30.11,5.8,18,6.5,0,0,1,0,0,0,2007,5,29

In [359]:
y_train= df_concat.WnvPresent

In [360]:
X.PrecipTotal.fillna(method='pad', inplace=True)

In [361]:
X.WetBulb.fillna(method='pad', inplace=True)

X_train = X

In [362]:
lr = LogisticRegression()
lr.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [363]:
from sklearn.tree import DecisionTreeClassifier

In [408]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [421]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

rf = RandomForestClassifier()

rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [418]:
y_pred1 = rf.predict(X)

In [423]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier()

gb.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [424]:
y_pred2 = gb.predict(X)

In [425]:
y_pred2.sum()

116293

# TEST

In [426]:
df = pd.read_csv('test.csv')

In [427]:
df.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [428]:
df['distance_1'] = range(len(df.Latitude))

In [429]:
df['distance_1'] = df.distance_1.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.995, -87.933)).miles)

In [430]:
df['distance_2'] = range(len(df.Latitude))
df['distance_2'] = df.distance_2.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.786, -87.752)).miles)

In [431]:
df['airport'] = (df['distance_1'] > df['distance_2'])*1+1

In [432]:
df.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,distance_1,distance_2,airport
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,7.345852,11.913475,1

In [433]:
df2 = pd.read_csv('spray.csv')

In [434]:
df2.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [435]:
df3 = pd.read_csv('weather.csv')

In [436]:
df3.shape

(2944, 22)

In [437]:
df3.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [438]:
df_merged = pd.merge(df, df3, left_on = ['Date','airport'], right_on = ['Date','Station'], how= 'left')

In [439]:
df_merged.shape

(116293, 35)

In [440]:
df_merged.head(2)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,distance_1,distance_2,airport,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,7.345852,11.913475,1,1,86,61,74,7,56,64,0,9,0416,1926,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,7.345852,11.913475,1,1,86,61,74,7,56,64,0,9,0416,1926,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0

In [441]:
pd.set_option('max_columns',len(df_merged.columns))

In [442]:
df_merged.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,distance_1,distance_2,airport,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,7.345852,11.913475,1,1,86,61,74,7,56,64,0,9,0416,1926,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0

In [443]:
df_merged.AddressAccuracy.value_counts()

8    61973
9    39795
5    13761
3      764
Name: AddressAccuracy, dtype: int64

In [444]:
df_merged.drop(['Trap','Depart','SnowFall','Depth', 'Address','Block','Street','AddressNumberAndStreet','AddressAccuracy','distance_1','distance_2','airport','Station'], axis = 1, inplace = True)

In [445]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116293 entries, 0 to 116292
Data columns (total 22 columns):
Id             116293 non-null int64
Date           116293 non-null object
Species        116293 non-null object
Latitude       116293 non-null float64
Longitude      116293 non-null float64
Tmax           116293 non-null int64
Tmin           116293 non-null int64
Tavg           116293 non-null object
DewPoint       116293 non-null int64
WetBulb        116293 non-null object
Heat           116293 non-null object
Cool           116293 non-null object
Sunrise        116293 non-null object
Sunset         116293 non-null object
CodeSum        116293 non-null object
Water1         116293 non-null object
PrecipTotal    116293 non-null object
StnPressure    116293 non-null object
SeaLevel       116293 non-null object
ResultSpeed    116293 non-null float64
ResultDir      116293 non-null int64
AvgSpeed       116293 non-null object
dtypes: float64(3), int64(5), object(14)
memory usage: 20.4+ MB

In [446]:
df_merged.head()

,Id,Date,Species,Latitude,Longitude,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,41.95469,-87.800991,86,61,74,56,64,0,9,0416,1926,,M,0.00,29.28,29.99,8.9,18,10.0
1,2,2008-06-11,CULEX RESTUANS,41.95469,-87.800991,86,61,74,56,64,0,9,0416,1926,,M,0.00,29.28,29.99,8.9,18,10.0
2,3,2008-06-11,CULEX PIPIENS,41.95469,-87.800991,86,61,74,56,64,0,9,0416,1926,,M,0.00,29.28,29.99,8.9,18,10.0
3,4,2008-06-11,CULEX SALINARIUS,41.95469,-87.800991,86,61,74,56,64,0,9,0416,1926,,M,0.00,29.28,29.99,8.9,18,10.0
4,5,2008-06-11,CULEX TERRITANS,41.95469,-87.800991,86,61,74,56,64,0,9,0416,1926,,M,0.00,29.28,29.99,8.9,18,10.0

In [447]:
sunrise = df_merged.Sunrise.tolist()

In [448]:
for n,i in enumerate(sunrise):
    if i == '-':
        sunrise[n] = sunrise[n-1]

In [449]:
sunset = df_merged.Sunset.tolist()

In [450]:
for n,i in enumerate(sunset):
    if i == '-':
        sunset[n] = sunset[n-1]

In [451]:
df_merged.Sunset = sunset

In [452]:
df_merged.Sunrise = sunrise

In [453]:
cols = ["Tavg","WetBulb","Heat","Cool","Sunrise","Sunset","PrecipTotal","StnPressure","SeaLevel","ResultSpeed","ResultDir","AvgSpeed"]

In [454]:
for i in cols:
    df_merged[i] = pd.to_numeric(df_merged[i], errors='coerce')

In [455]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116293 entries, 0 to 116292
Data columns (total 22 columns):
Id             116293 non-null int64
Date           116293 non-null object
Species        116293 non-null object
Latitude       116293 non-null float64
Longitude      116293 non-null float64
Tmax           116293 non-null int64
Tmin           116293 non-null int64
Tavg           116293 non-null int64
DewPoint       116293 non-null int64
WetBulb        116293 non-null int64
Heat           116293 non-null int64
Cool           116293 non-null int64
Sunrise        116293 non-null int64
Sunset         116293 non-null int64
CodeSum        116293 non-null object
Water1         116293 non-null object
PrecipTotal    107239 non-null float64
StnPressure    116293 non-null float64
SeaLevel       116293 non-null float64
ResultSpeed    116293 non-null float64
ResultDir      116293 non-null int64
AvgSpeed       116293 non-null float64
dtypes: float64(7), int64(11), object(4)
memory usage: 20.4+ MB

In [456]:
df_merged.StnPressure.mean()

29.311923503568988

In [457]:
df_merged.StnPressure.std()

0.12222330393831948

In [458]:
df_merged.StnPressure.fillna(df_merged.StnPressure.mean(), inplace = True)

In [459]:
df_merged.Date = pd.to_datetime(df_merged.Date)

In [460]:
df_merged.head(3)

,Id,Date,Species,Latitude,Longitude,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,41.95469,-87.800991,86,61,74,56,64,0,9,416,1926,,M,0.0,29.28,29.99,8.9,18,10.0
1,2,2008-06-11,CULEX RESTUANS,41.95469,-87.800991,86,61,74,56,64,0,9,416,1926,,M,0.0,29.28,29.99,8.9,18,10.0
2,3,2008-06-11,CULEX PIPIENS,41.95469,-87.800991,86,61,74,56,64,0,9,416,1926,,M,0.0,29.28,29.99,8.9,18,10.0

In [461]:
df_concat = pd.concat([df_merged,pd.get_dummies(df_merged.Species, drop_first=True)], axis=1)

In [462]:
df_concat.drop(["Species","CodeSum","Water1"],axis=1,inplace=True)

In [463]:
df_concat['year'] = df_concat["Date"].apply(lambda x: x.year)
df_concat['month'] = df_concat["Date"].apply(lambda x: x.month)
df_concat['day'] = df_concat["Date"].apply(lambda x: x.day)
df_concat.drop(["Date"],axis=1,inplace=True)

In [464]:
X = df_concat

In [465]:
X.PrecipTotal.fillna(method='pad', inplace=True)

In [466]:
X.WetBulb.fillna(method='pad', inplace=True)

In [467]:
y_pred = dtc.predict(X)

In [468]:
pd.Series(y_pred).value_counts()

1    116293
dtype: int64

In [471]:
submit = pd.DataFrame(y_pred)
submit.columns = ["WnvPresent"]

In [476]:
submit["id"] = submit.index

In [477]:
submit.to_csv("submit.csv")