In [1]:
import pandas as pd
from geopy.distance import vincenty
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [4]:
df['distance_1'] = range(len(df.Latitude))

In [5]:
df['distance_1'] = df.distance_1.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.995, -87.933)).miles)

In [6]:
df['distance_2'] = range(len(df.Latitude))
df['distance_2'] = df.distance_2.apply(lambda x: vincenty((df.Latitude[x], df.Longitude[x]),(41.786, -87.752)).miles)

In [7]:
df['airport'] = (df['distance_1'] > df['distance_2'])*1+1

In [8]:
df.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,distance_1,distance_2,airport
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1

In [9]:
df2 = pd.read_csv('spray.csv')

In [10]:
df2.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [11]:
df3 = pd.read_csv('weather.csv')

In [12]:
df3.shape

(2944, 22)

In [13]:
df3.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [14]:
df_merged = pd.merge(df, df3, left_on = ['Date','airport'], right_on = ['Date','Station'], how= 'left')

In [15]:
df_merged.shape

(10506, 36)

In [16]:
df_merged.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,...,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5

In [17]:
pd.set_option('max_columns',len(df_merged.columns))

In [18]:
df_merged.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,distance_1,distance_2,airport,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,7.345852,11.913475,1,1,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,M,0.0,0.00,29.39,30.11,5.8,18,6.5

In [19]:
df_merged.AddressAccuracy.value_counts()

8    4628
9    3980
5    1807
3      91
Name: AddressAccuracy, dtype: int64

In [20]:
df_merged.drop(['Trap','Depart','SnowFall','Depth', 'Address','Block','Street','AddressNumberAndStreet','AddressAccuracy','distance_1','distance_2','airport','Station'], axis = 1, inplace = True)

In [21]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10506 entries, 0 to 10505
Data columns (total 23 columns):
Date            10506 non-null object
Species         10506 non-null object
Latitude        10506 non-null float64
Longitude       10506 non-null float64
NumMosquitos    10506 non-null int64
WnvPresent      10506 non-null int64
Tmax            10506 non-null int64
Tmin            10506 non-null int64
Tavg            10506 non-null object
DewPoint        10506 non-null int64
WetBulb         10506 non-null object
Heat            10506 non-null object
Cool            10506 non-null object
Sunrise         10506 non-null object
Sunset          10506 non-null object
CodeSum         10506 non-null object
Water1          10506 non-null object
PrecipTotal     10506 non-null object
StnPressure     10506 non-null object
SeaLevel        10506 non-null object
ResultSpeed     10506 non-null float64
ResultDir       10506 non-null int64
AvgSpeed        10506 non-null object
dtypes: float64(3), int64(6), object(14)
memory usage: 1.9+ MB

In [22]:
df_merged.head()

,Date,Species,Latitude,Longitude,NumMosquitos,WnvPresent,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,CULEX PIPIENS/RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
1,2007-05-29,CULEX RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
2,2007-05-29,CULEX RESTUANS,41.994991,-87.769279,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
3,2007-05-29,CULEX PIPIENS/RESTUANS,41.974089,-87.824812,1,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5
4,2007-05-29,CULEX RESTUANS,41.974089,-87.824812,4,0,88,60,74,58,65,0,9,0421,1917,BR HZ,M,0.00,29.39,30.11,5.8,18,6.5

In [23]:
sunrise = df_merged.Sunrise.tolist()

In [24]:
for n,i in enumerate(sunrise):
    if i == '-':
        sunrise[n] = sunrise[n-1]

In [25]:
sunset = df_merged.Sunset.tolist()

In [26]:
for n,i in enumerate(sunset):
    if i == '-':
        sunset[n] = sunset[n-1]

In [27]:
df_merged.Sunset = sunset

In [28]:
df_merged.Sunrise = sunrise

In [29]:
cols = ["Tavg","WetBulb","Heat","Cool","Sunrise","Sunset","PrecipTotal","StnPressure","SeaLevel","ResultSpeed","ResultDir","AvgSpeed"]

In [30]:
for i in cols:
    df_merged[i] = pd.to_numeric(df_merged[i], errors='coerce')

In [31]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10506 entries, 0 to 10505
Data columns (total 23 columns):
Date            10506 non-null object
Species         10506 non-null object
Latitude        10506 non-null float64
Longitude       10506 non-null float64
NumMosquitos    10506 non-null int64
WnvPresent      10506 non-null int64
Tmax            10506 non-null int64
Tmin            10506 non-null int64
Tavg            10506 non-null int64
DewPoint        10506 non-null int64
WetBulb         10470 non-null float64
Heat            10506 non-null int64
Cool            10506 non-null int64
Sunrise         10506 non-null int64
Sunset          10506 non-null int64
CodeSum         10506 non-null object
Water1          10506 non-null object
PrecipTotal     9620 non-null float64
StnPressure     10470 non-null float64
SeaLevel        10506 non-null float64
ResultSpeed     10506 non-null float64
ResultDir       10506 non-null int64
AvgSpeed        10506 non-null float64
dtypes: float64(8), int64(11), object(4)
memory usage: 1.9+ MB

In [32]:
df_merged.StnPressure.mean()

29.29205635148058

In [33]:
df_merged.StnPressure.std()

0.1174272991057942

In [34]:
df_merged.StnPressure.fillna(df_merged.StnPressure.mean(), inplace = True)

In [38]:
df_merged.Date = pd.to_datetime(df_merged.Date)

In [39]:
df_merged.head(3)

,Date,Species,Latitude,Longitude,NumMosquitos,WnvPresent,Tmax,Tmin,Tavg,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Water1,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-29,CULEX PIPIENS/RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5
1,2007-05-29,CULEX RESTUANS,41.954690,-87.800991,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5
2,2007-05-29,CULEX RESTUANS,41.994991,-87.769279,1,0,88,60,74,58,65.0,0,9,421,1917,BR HZ,M,0.0,29.39,30.11,5.8,18,6.5

In [40]:
df_merged.to_csv('mosquitos.csv')

# TEST